## Qiulin Chen

qchen337@wisc.edu

### Cleaning Job Data

In [66]:
import pandas as pd
jobdf = pd.read_csv('jobdf.csv')
jobdf

,Unnamed: 0,Name,Profile_url
0,0,Aditya Akella,"H.I. Romnes Fellow and Professor, Computer Sci..."
1,1,Aditya Akella,Visiting Scientist\nCompany Name\nGoogle\nDate...
2,2,Aditya Akella,Visiting Researcher\nCompany Name\nMicrosoft\n...
3,3,Aditya Akella,"Consultant\nCompany Name\nInstart Logic, Inc.\..."
4,4,Aditya Akella,Visiting Associate Professor\nCompany Name\nUn...
...,...,...,...
163,163,Jerry Zhu,Quantitative Researcher\nCompany Name\nProp Tr...
164,164,Jerry Zhu,Quantitative Research Intern\nCompany Name\nPI...
165,165,Jerry Zhu,Quantitative Researcher\nCompany Name\nCQ Capi...
166,166,Jerry Zhu,Global Market Intern\nCompany Name\nSociete Ge...
167,167,Jerry Zhu,Global Risk Intern\nCompany Name\nHSBC Interns...

In [67]:
# Some faculty members did not have linkedIn and selenium might get some random wrong people.
# In order to examine whether the most uptodate position of those people are professor, I made an indicator.

jobdf = jobdf.drop('Unnamed: 0',1)
ind = [1]
for i in range(0,167,1):
    if jobdf['Name'][i] == jobdf['Name'][i+1]:
        ind.append(0)
    else:
        ind.append(1)
jobdf['i'] = ind
jobdf

              Name                                        Profile_url  i
0    Aditya Akella  H.I. Romnes Fellow and Professor, Computer Sci...  1
1    Aditya Akella  Visiting Scientist\nCompany Name\nGoogle\nDate...  0
2    Aditya Akella  Visiting Researcher\nCompany Name\nMicrosoft\n...  0
3    Aditya Akella  Consultant\nCompany Name\nInstart Logic, Inc.\...  0
4    Aditya Akella  Visiting Associate Professor\nCompany Name\nUn...  0
..             ...                                                ... ..
163      Jerry Zhu  Quantitative Researcher\nCompany Name\nProp Tr...  1
164      Jerry Zhu  Quantitative Research Intern\nCompany Name\nPI...  0
165      Jerry Zhu  Quantitative Researcher\nCompany Name\nCQ Capi...  0
166      Jerry Zhu  Global Market Intern\nCompany Name\nSociete Ge...  0
167      Jerry Zhu  Global Risk Intern\nCompany Name\nHSBC Interns...  0

[168 rows x 3 columns]

In [69]:
# Some faculty members did not have linkedIn and selenium might get some random wrong people.

truefac = jobdf[jobdf['i'] == 1][jobdf['Profile_url'].str.contains("rofessor")][['Name','i']]

C:\Users\Cyan\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

In [70]:
# Keep the true faculty group

data = jobdf.merge(truefac, on = 'Name', how = 'left')
job = data[data['i_y'].notna()]
job

,Name,Profile_url,i_x,i_y
0,Aditya Akella,"H.I. Romnes Fellow and Professor, Computer Sci...",1,1.0
1,Aditya Akella,Visiting Scientist\nCompany Name\nGoogle\nDate...,0,1.0
2,Aditya Akella,Visiting Researcher\nCompany Name\nMicrosoft\n...,0,1.0
3,Aditya Akella,"Consultant\nCompany Name\nInstart Logic, Inc.\...",0,1.0
4,Aditya Akella,Visiting Associate Professor\nCompany Name\nUn...,0,1.0
...,...,...,...,...
158,Xiangyao Yu,Assistant Professor at University of Wisconsin...,1,1.0
159,Xiangyao Yu,Visiting Researcher\nCompany Name\nGoogle\nDat...,0,1.0
160,Xiangyao Yu,Postdoctoral Associate\nCompany Name\nMIT Comp...,0,1.0
161,Xiangyao Yu,Research Intern\nCompany Name\nIntel Corporati...,0,1.0
162,Xiangyao Yu,Research Intern\nCompany Name\nMicrosoft Full-...,0,1.0

In [74]:
# Get a sense of the messiness...

job['Profile_url'].str.split('\n', expand=True).tail(20)

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
138,Interim Engineering Intern,Company Name,Qualcomm,Dates Employed,May 2011 – Aug 2011,Employment Duration,4 mos,Location,Greater San Diego Area,I worked on the Bus & Memory Controller Digita...,...,None,None,None,None,None,None,None,None,None,None
139,Professor,Company Name,University of Wisconsin,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
140,Assistant Professor,Company Name,University of Wisconsin-Madison,Dates Employed,2006 – Present,Employment Duration,15 yrs,None,None,None,...,None,None,None,None,None,None,None,None,None,None
141,student,Company Name,U. of Washington,Dates Employed,1998 – 2005,Employment Duration,7 yrs,None,None,None,...,None,None,None,None,None,None,None,None,None,None
142,Graduate Student,Company Name,University of Washington,Dates Employed,1998 – 2005,Employment Duration,7 yrs,None,None,None,...,None,None,None,None,None,None,None,None,None,None
143,Software Developer,Company Name,Microsoft,Dates Employed,1992 – 2000,Employment Duration,8 yrs,None,None,None,...,None,None,None,None,None,None,None,None,None,None
144,Assistant Professor,Company Name,University of Wisconsin-Madison,Dates Employed,Jan 2021 – Present,Employment Duration,6 mos,Location,"Madison, Wisconsin, United States",None,...,None,None,None,None,None,None,None,None,None,None
145,Company Name,Georgia Institute of Technology,Total Duration,6 yrs 6 mos,Title,Doctoral Student,Dates Employed,Aug 2014 – Jan 2021,Employment Duration,6 yrs 6 mos,...,None,None,None,None,None,None,None,None,None,None
146,Title,Doctoral Student,Dates Employed,Aug 2014 – Jan 2021,Employment Duration,6 yrs 6 mos,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
147,Title,Co-Instructor for Intro to Quantum Systems,Dates Employed,Jan 2019 – May 2019,Employment Duration,5 mos,Location,Greater Atlanta Area,None,None,...,None,None,None,None,None,None,None,None,None,None
148,Research Intern,Company Name,Microsoft,Dates Employed,May 2018 – Aug 2018,Employment Duration,4 mos,Location,"Delft Area, Netherlands",None,...,None,None,None,None,None,None,None,None,None,None
149,Research Intern,Company Name,Microsoft,Dates Employed,May 2017 – Aug 2017,Employment Duration,4 mos,Location,"Redmond, Washington",None,...,None,None,None,None,None,None,None,None,None,None
150,Research Intern,Company Name,Microsoft,Dates Employed,May 2016 – Aug 2016,Employment Duration,4 mos,Location,Redmond,None,...,None,None,None,None,None,None,None,None,None,None
156,Professor,Company Name,University of Wisconsin-Madison,Dates Employed,Aug 2001 – Present,Employment Duration,19 yrs 11 mos,Computer Sciences Department and Industrial an...,None,None,...,None,None,None,None,None,None,None,None,None,None
157,Senior Computer Scientist,Company Name,Argonne National Laboratory,Dates Employed,Oct 1997 – Jul 2001,Employment Duration,3 yrs 10 mos,None,None,None,...,None,None,None,None,None,None,None,None,None,None
158,Assistant Professor at University of Wisconsin...,Company Name,University of Wisconsin-Madison Full-time,Dates Employed,Jan 2020 – Present,Employment Duration,1 yr 6 mos,None,None,None,...,None,None,None,None,None,None,None,None,None,None
159,Visiting Researcher,Company Name,Google,Dates Employed,Aug 2019 – Jan 2020,Employment Duration,6 mos,Location,"Madison, Wisconsin Area",None,...,None,None,None,None,None,None,None,None,None,None
160,Postdoctoral Associate,Company Name,MIT Computer Science and Artificial Intelligen...,Dates Employed,Sep 2017 – Aug 2019,Employment Duration,2 yrs,Location,"Cambridge, MA",None,...,None,None,None,None,None,None,None,None,None,None
161,Research Intern,Company Name,Intel Corporation,Dates Employed,May 2014 – Aug 2014,Employment Duration,4 mos,Location,Santa Clara,None,...,None,None,None,None,None,None,None,None,None,None
162,Research Intern,Company Name,Microsoft Full-time,Dates Employed,Oct 2011 – Jun 2012,Employment Duration,9 mos,Location,"Beijing, China",None,...,None,None,None,None,None,None,None,None,None,None

In [83]:
# Split from company and employed date

company = []
emp_date = []
for i in job.index:
    a = job['Profile_url'][i].find('Company Name')
    b = job['Profile_url'][i].find('Dates Employed')
    c = job['Profile_url'][i].find('Employment Duration')
    company.append(job['Profile_url'][i][a:b])
    emp_date.append(job['Profile_url'][i][b:c])

job['Company'] = company
job['Date'] = emp_date

C:\Users\Cyan\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Cyan\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [99]:
# Keep non-academia activities

job = job[job['Company']!='']
job = job[~job['Company'].str.contains('niversity|MIT|UW|UC|nstitute|niversiteit|ashington')]

In [124]:
company = job['Company'].str.split('\n', expand = True)[[1]]
date = job['Date'].str.split('\n', expand = True)[[1]]
job = job[['Name']].join(company)
job.columns = ['Name','Company']
job

                          Name                                         Company
1                Aditya Akella                                          Google
2                Aditya Akella                                       Microsoft
3                Aditya Akella                             Instart Logic, Inc.
7             Aws Albarghouthi                              Microsoft Research
23              Suman Banerjee  StratusWorX (acquired by Ericsson in Aug 2020)
28                Paul Barford                                  comScore, Inc.
29                Paul Barford                                        MdotLabs
30                Paul Barford                                          Qualys
31                Paul Barford                            Nemean Networks, LLC
35            Rahul Chatterjee                                         Dropbox
36            Rahul Chatterjee                                       Microsoft
45          Ilias Diakonikolas                                             IBM
52         Jelena Diakonikolas               SOL - Serbian Object Laboratories
62          Earlence Fernandes                  Accenture Technology Solutions
66            Michael Gleicher                                           Inria
69            Michael Gleicher                                        Autodesk
70            Michael Gleicher                                           Apple
83                  Somesh Jha                                    Tala Systems
86                Yea-Seul Kim                   Microsoft Research Internship
87                Yea-Seul Kim                   Microsoft Research Internship
88                Yea-Seul Kim                       Adobe Research Internship
91               Paris Koutris                                        Facebook
106              Barton Miller          Software Assurance Marketplace (SWAMP)
107              Barton Miller             Olivetti Advanced Technology Center
112              Jignesh Patel                                        DataChat
113              Jignesh Patel                                      Lands' End
114              Jignesh Patel                                    Redox Engine
115              Jignesh Patel                          Pivotal Software, Inc.
122                Thomas Reps                                      GrammaTech
124              Frederic Sala                            Snorkel AI Part-time
127              Frederic Sala                      Samsung Semiconductor Inc.
129  Karthikeyan Sankaralingam                                             AMD
131  Karthikeyan Sankaralingam                                 NVIDIA Research
132  Karthikeyan Sankaralingam                                        Qualcomm
135           Matthew Sinclair                                             AMD
137           Matthew Sinclair                                 NVIDIA Research
138           Matthew Sinclair                                        Qualcomm
143              Michael Swift                                       Microsoft
148               Swamit Tannu                                       Microsoft
149               Swamit Tannu                                       Microsoft
150               Swamit Tannu                                       Microsoft
157             Stephen Wright                     Argonne National Laboratory
159                Xiangyao Yu                                          Google
161                Xiangyao Yu                               Intel Corporation
162                Xiangyao Yu                             Microsoft Full-time

In [126]:
job = job.join(date)
job.columns = ['Name','Company','Date']
job

,Name,Company,Date
1,Aditya Akella,Google,May 2019 – Present
2,Aditya Akella,Microsoft,Jan 2014 – Aug 2014
3,Aditya Akella,"Instart Logic, Inc.",Feb 2013 – Jul 2014
7,Aws Albarghouthi,Microsoft Research,Apr 2011 – Jul 2011
23,Suman Banerjee,StratusWorX (acquired by Ericsson in Aug 2020),Aug 2016 – Jul 2020
28,Paul Barford,"comScore, Inc.",Aug 2014 – Apr 2018
29,Paul Barford,MdotLabs,Jun 2013 – Aug 2014
30,Paul Barford,Qualys,2010 – 2011
31,Paul Barford,"Nemean Networks, LLC",2007 – 2010
35,Rahul Chatterjee,Dropbox,Jun 2016 – Aug 2016
36,Rahul Chatterjee,Microsoft,Jun 2015 – Aug 2015
45,Ilias Diakonikolas,IBM,May 2009 – Sep 2009
52,Jelena Diakonikolas,SOL - Serbian Object Laboratories,Dec 2009 – Feb 2010
62,Earlence Fernandes,Accenture Technology Solutions,Aug 2009 – Aug 2010
66,Michael Gleicher,Inria,2013 – 2014
69,Michael Gleicher,Autodesk,May 1997 – Jul 1998
70,Michael Gleicher,Apple,Sep 1994 – Mar 1997
83,Somesh Jha,Tala Systems,Sep 2016 – Present
86,Yea-Seul Kim,Microsoft Research Internship,Jun 2019 – Sep 2019
87,Yea-Seul Kim,Microsoft Research Internship,Oct 2017 – Dec 2017
88,Yea-Seul Kim,Adobe Research Internship,Jun 2017 – Sep 2017
91,Paris Koutris,Facebook,Jun 2012 – Sep 2012
106,Barton Miller,Software Assurance Marketplace (SWAMP),Sep 2013 – Jun 2020
107,Barton Miller,Olivetti Advanced Technology Center,1979 – 1980
112,Jignesh Patel,DataChat,2017 – Present
113,Jignesh Patel,Lands' End,Apr 2014 – Present
114,Jignesh Patel,Redox Engine,2015 – 2018
115,Jignesh Patel,"Pivotal Software, Inc.",Jun 2015 – Jun 2016
122,Thomas Reps,GrammaTech,Aug 1988 – Nov 2019
124,Frederic Sala,Snorkel AI Part-time,Jun 2020 – Present
127,Frederic Sala,Samsung Semiconductor Inc.,Jun 2015 – Nov 2015
129,Karthikeyan Sankaralingam,AMD,Aug 2017 – Present
131,Karthikeyan Sankaralingam,NVIDIA Research,Jun 2014 – Oct 2014
132,Karthikeyan Sankaralingam,Qualcomm,May 2011 – Aug 2011
135,Matthew Sinclair,AMD,Aug 2017 – Present
137,Matthew Sinclair,NVIDIA Research,Jun 2014 – Oct 2014
138,Matthew Sinclair,Qualcomm,May 2011 – Aug 2011
143,Michael Swift,Microsoft,1992 – 2000
148,Swamit Tannu,Microsoft,May 2018 – Aug 2018
149,Swamit Tannu,Microsoft,May 2017 – Aug 2017
150,Swamit Tannu,Microsoft,May 2016 – Aug 2016
157,Stephen Wright,Argonne National Laboratory,Oct 1997 – Jul 2001
159,Xiangyao Yu,Google,Aug 2019 – Jan 2020
161,Xiangyao Yu,Intel Corporation,May 2014 – Aug 2014
162,Xiangyao Yu,Microsoft Full-time,Oct 2011 – Jun 2012

In [129]:
# Deal with the start and end dates

start_date = []
end_date = []
for i in job.index:
    a = job['Date'][i].find('–')
    b = a - 5
    start_date.append(job['Date'][i][b:a-1])
    end_date.append(job['Date'][i][-4:])
    
job['Start'] = start_date
job['End'] = end_date
job

,Name,Company,Date,Start,End
1,Aditya Akella,Google,May 2019 – Present,2019,sent
2,Aditya Akella,Microsoft,Jan 2014 – Aug 2014,2014,2014
3,Aditya Akella,"Instart Logic, Inc.",Feb 2013 – Jul 2014,2013,2014
7,Aws Albarghouthi,Microsoft Research,Apr 2011 – Jul 2011,2011,2011
23,Suman Banerjee,StratusWorX (acquired by Ericsson in Aug 2020),Aug 2016 – Jul 2020,2016,2020
28,Paul Barford,"comScore, Inc.",Aug 2014 – Apr 2018,2014,2018
29,Paul Barford,MdotLabs,Jun 2013 – Aug 2014,2013,2014
30,Paul Barford,Qualys,2010 – 2011,2010,2011
31,Paul Barford,"Nemean Networks, LLC",2007 – 2010,2007,2010
35,Rahul Chatterjee,Dropbox,Jun 2016 – Aug 2016,2016,2016
36,Rahul Chatterjee,Microsoft,Jun 2015 – Aug 2015,2015,2015
45,Ilias Diakonikolas,IBM,May 2009 – Sep 2009,2009,2009
52,Jelena Diakonikolas,SOL - Serbian Object Laboratories,Dec 2009 – Feb 2010,2009,2010
62,Earlence Fernandes,Accenture Technology Solutions,Aug 2009 – Aug 2010,2009,2010
66,Michael Gleicher,Inria,2013 – 2014,2013,2014
69,Michael Gleicher,Autodesk,May 1997 – Jul 1998,1997,1998
70,Michael Gleicher,Apple,Sep 1994 – Mar 1997,1994,1997
83,Somesh Jha,Tala Systems,Sep 2016 – Present,2016,sent
86,Yea-Seul Kim,Microsoft Research Internship,Jun 2019 – Sep 2019,2019,2019
87,Yea-Seul Kim,Microsoft Research Internship,Oct 2017 – Dec 2017,2017,2017
88,Yea-Seul Kim,Adobe Research Internship,Jun 2017 – Sep 2017,2017,2017
91,Paris Koutris,Facebook,Jun 2012 – Sep 2012,2012,2012
106,Barton Miller,Software Assurance Marketplace (SWAMP),Sep 2013 – Jun 2020,2013,2020
107,Barton Miller,Olivetti Advanced Technology Center,1979 – 1980,1979,1980
112,Jignesh Patel,DataChat,2017 – Present,2017,sent
113,Jignesh Patel,Lands' End,Apr 2014 – Present,2014,sent
114,Jignesh Patel,Redox Engine,2015 – 2018,2015,2018
115,Jignesh Patel,"Pivotal Software, Inc.",Jun 2015 – Jun 2016,2015,2016
122,Thomas Reps,GrammaTech,Aug 1988 – Nov 2019,1988,2019
124,Frederic Sala,Snorkel AI Part-time,Jun 2020 – Present,2020,sent
127,Frederic Sala,Samsung Semiconductor Inc.,Jun 2015 – Nov 2015,2015,2015
129,Karthikeyan Sankaralingam,AMD,Aug 2017 – Present,2017,sent
131,Karthikeyan Sankaralingam,NVIDIA Research,Jun 2014 – Oct 2014,2014,2014
132,Karthikeyan Sankaralingam,Qualcomm,May 2011 – Aug 2011,2011,2011
135,Matthew Sinclair,AMD,Aug 2017 – Present,2017,sent
137,Matthew Sinclair,NVIDIA Research,Jun 2014 – Oct 2014,2014,2014
138,Matthew Sinclair,Qualcomm,May 2011 – Aug 2011,2011,2011
143,Michael Swift,Microsoft,1992 – 2000,1992,2000
148,Swamit Tannu,Microsoft,May 2018 – Aug 2018,2018,2018
149,Swamit Tannu,Microsoft,May 2017 – Aug 2017,2017,2017
150,Swamit Tannu,Microsoft,May 2016 – Aug 2016,2016,2016
157,Stephen Wright,Argonne National Laboratory,Oct 1997 – Jul 2001,1997,2001
159,Xiangyao Yu,Google,Aug 2019 – Jan 2020,2019,2020
161,Xiangyao Yu,Intel Corporation,May 2014 – Aug 2014,2014,2014
162,Xiangyao Yu,Microsoft Full-time,Oct 2011 – Jun 2012,2011,2012

In [137]:
# Fix type

job['Start'] = job['Start'].astype(int)
job = job[job['Start']>=2000]
job.loc[job['End'] == 'sent', 'End'] = '2021'
job['End'] = job['End'].astype(int)

In [143]:
job

,Name,Company,Date,Start,End
1,Aditya Akella,Google,May 2019 – Present,2019,2021
2,Aditya Akella,Microsoft,Jan 2014 – Aug 2014,2014,2014
3,Aditya Akella,"Instart Logic, Inc.",Feb 2013 – Jul 2014,2013,2014
7,Aws Albarghouthi,Microsoft Research,Apr 2011 – Jul 2011,2011,2011
23,Suman Banerjee,StratusWorX (acquired by Ericsson in Aug 2020),Aug 2016 – Jul 2020,2016,2020
28,Paul Barford,"comScore, Inc.",Aug 2014 – Apr 2018,2014,2018
29,Paul Barford,MdotLabs,Jun 2013 – Aug 2014,2013,2014
30,Paul Barford,Qualys,2010 – 2011,2010,2011
31,Paul Barford,"Nemean Networks, LLC",2007 – 2010,2007,2010
35,Rahul Chatterjee,Dropbox,Jun 2016 – Aug 2016,2016,2016
36,Rahul Chatterjee,Microsoft,Jun 2015 – Aug 2015,2015,2015
45,Ilias Diakonikolas,IBM,May 2009 – Sep 2009,2009,2009
52,Jelena Diakonikolas,SOL - Serbian Object Laboratories,Dec 2009 – Feb 2010,2009,2010
62,Earlence Fernandes,Accenture Technology Solutions,Aug 2009 – Aug 2010,2009,2010
66,Michael Gleicher,Inria,2013 – 2014,2013,2014
83,Somesh Jha,Tala Systems,Sep 2016 – Present,2016,2021
86,Yea-Seul Kim,Microsoft Research Internship,Jun 2019 – Sep 2019,2019,2019
87,Yea-Seul Kim,Microsoft Research Internship,Oct 2017 – Dec 2017,2017,2017
88,Yea-Seul Kim,Adobe Research Internship,Jun 2017 – Sep 2017,2017,2017
91,Paris Koutris,Facebook,Jun 2012 – Sep 2012,2012,2012
106,Barton Miller,Software Assurance Marketplace (SWAMP),Sep 2013 – Jun 2020,2013,2020
112,Jignesh Patel,DataChat,2017 – Present,2017,2021
113,Jignesh Patel,Lands' End,Apr 2014 – Present,2014,2021
114,Jignesh Patel,Redox Engine,2015 – 2018,2015,2018
115,Jignesh Patel,"Pivotal Software, Inc.",Jun 2015 – Jun 2016,2015,2016
124,Frederic Sala,Snorkel AI Part-time,Jun 2020 – Present,2020,2021
127,Frederic Sala,Samsung Semiconductor Inc.,Jun 2015 – Nov 2015,2015,2015
129,Karthikeyan Sankaralingam,AMD,Aug 2017 – Present,2017,2021
131,Karthikeyan Sankaralingam,NVIDIA Research,Jun 2014 – Oct 2014,2014,2014
132,Karthikeyan Sankaralingam,Qualcomm,May 2011 – Aug 2011,2011,2011
135,Matthew Sinclair,AMD,Aug 2017 – Present,2017,2021
137,Matthew Sinclair,NVIDIA Research,Jun 2014 – Oct 2014,2014,2014
138,Matthew Sinclair,Qualcomm,May 2011 – Aug 2011,2011,2011
148,Swamit Tannu,Microsoft,May 2018 – Aug 2018,2018,2018
149,Swamit Tannu,Microsoft,May 2017 – Aug 2017,2017,2017
150,Swamit Tannu,Microsoft,May 2016 – Aug 2016,2016,2016
159,Xiangyao Yu,Google,Aug 2019 – Jan 2020,2019,2020
161,Xiangyao Yu,Intel Corporation,May 2014 – Aug 2014,2014,2014
162,Xiangyao Yu,Microsoft Full-time,Oct 2011 – Jun 2012,2011,2012

In [144]:
# Save file for rep

job.to_csv('job.csv')